body {
    background-color: #e7eaeb;
}

.navbar-brand {
    color: #577a75;
    font-family: 'Yeseva One', serif;
}

.nav-link {
    color:#577a75;
    font-family: 'Yeseva One', serif;
}

.dropdown-item {
    color: #577a75;
    font-family: 'Yeseva One', serif;
}

h2 {
    color: #577a75;
    font-family: 'Yeseva One', serif;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 10px;
}

h1 {
    color: #577a75;
    font-family: 'Yeseva One', serif;
    padding-top: 50px;
}

.img-background {
    opacity: 0.3;
}

.side {
    color: #577a75;
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.Copyright {
    color: #577a75;
    font-family: 'Yeseva One', serif;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.col-sm-12 {
    padding-top: 20px;
}