body {
    background-color: #e7eaeb;
}

.navbar-brand {
    color: #577a75;
    font-family: 'Yeseva One', serif;
}

.nav-link {
    color:#577a75;
    font-family: 'Yeseva One', serif;
}

.dropdown-item {
    color: #577a75;
    font-family: 'Yeseva One', serif;
}

.side {
    color: #577a75;
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
    margin: 30px;
}

h1 {
    color: #577a75;
    font-family: 'Yeseva One', serif;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 32px;
}

h6 {
    color: #577a75;
    font-family: 'Yeseva One', serif;
    font-size: 14px;
    padding-bottom: 10px;
 }

.card {
    color: #577a75;
    font-family: 'Yeseva One', serif;
    border: 0px;
    background-color:rgba(87,122,117,0);
    margin: 1rem;
}

.btn {
    font-size: 12px;
}

.card-title {
    font-size: 25px;
}

.Copyright {
    color: #577a75;
    font-family: 'Yeseva One', serif;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}